/* ================= FUENTES ================= */
/*------ Nuevo Codigo --------*/

@font-face {
  font-family: Gotham-Book;
  src: url("../fonts/Gotham-Book.ttf");
}
@font-face {
  font-family: Gotham-light;
  src: url("../fonts/Gotham-Light.ttf");
}
@font-face {
  font-family: Sanchez-reg;
  src: url("../fonts/Sanchez-Regular.ttf");
}
@font-face {
  font-family: Gotham-black;
  src: url("../fonts/Gotham-Black.ttf");
}
@font-face {
  font-family: Gotham-medium;
  src: url("../fonts/Gotham-Medium.ttf");
}

/*------ Fin Nuevo Codigo --------*/

/* ================= VARIABLES ================= */
:root {
  --peru: #c49c44;
  --yellow: #f9d71c;
  --black: #000;
  --white: #fff;
  --light-white: #ccc;
  --light-black: #666;
  --light-bg: #f5f5f5;
  --dark-bg: rgba(0, 0, 0, 0.7);
  --border: 0.1rem solid #aaa;
  --box-shadow: 0 0.5rem 0.1rem rgba(0, 0, 0, 0.1);
}

* {
  /*------ Nuevo Codigo --------*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.4s cubic-bezier(0.43, 1.1, 0.62, 1.08);
}

* > img {
  user-select: none;
  pointer-events: none;
}

/* ================= CSS CLASS ================= */
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background-color: var(--white);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--peru);
}

section {
  padding: 5rem 5%;
}

/* ================= HEADING ================= */
.heading {
  text-align: center;
  margin-bottom: 3rem;
}
.heading span {
  font-size: 2.5rem;
  color: var(--peru);
}
.heading h3 {
  font-size: 4.5rem;
  color: var(--black);
}

/* ================= BUTTONS ================= */
.btn {
  margin-top: 1rem;
  display: inline-block;
  background: var(--peru);
  color: var(--white);
  font-size: 2rem;
  cursor: pointer;
  padding: 1rem 3rem;
}
.btn:hover {
  letter-spacing: 0.2rem;
}

/* ================= HEADER ================= */
.header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--box-shadow);
  background: var(--white);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.header .logo {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--black);
}
.header .logo img {
  width: 80%;
}
.header .navbar a {
  font-family: Gotham-Book;
  text-transform: capitalize;
  font-size: 1.7rem;
  margin-left: 1rem;
  color: var(--light-black);
}
.header .navbar a:hover {
  color: var(--peru);
}
#menu-btn {
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--black);
  display: none;
}

@keyframes fadeIn {
  0% {
    transform: translateY(-4rem) scale(0);
    opacity: 0;
  }
}

/* ================= HOME ================= */
.home {
  padding: 0;
  background: var(--black);
}
.home .slide {
  min-height: 100vh;
  background-size: cover !important;
  background-position: center !important;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.home .slide .content {
  width: 70rem;
  display: none;
}
.home .slide .content span {
  font-family: Gotham-light;
  text-transform: uppercase;
  font-size: 3rem;
  display: block;
  padding-bottom: 0.5rem;
  color: var(--light-white);
  animation: fadeIn 0.4s cubic-bezier(0.54, 1.3, 0.63, 1.34) 0.2s backwards;
}
.home .slide .content span strong {
  font-family: Gotham-medium;
}
.home .swiper-slide-active .content {
  display: inline-block;
  text-align: left;
  margin: 40rem 0 0 10rem;
}
.carousel-button {
  height: 5rem;
  width: 5rem;
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
}
.carousel-button img {
  width: 85%;
}
.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}
.carousel-button.prev {
  left: 2rem;
}
.carousel-button.next {
  right: 2rem;
}

/* ================= ABOUT ================= */
.about {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.about .content-imgBx {
  flex: 1 1 41rem;
  position: relative;
}
.swiper-container {
  width: 450px;
  height: 450px;
  position: absolute;
  left: 30%;
  top: 25%;
  margin-left: -150px;
  margin-top: -130px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  background: #f2f2f2;
}
.swiper-container .swiper-slide .imgBx {
  position: absolute;
  width: 450px;
  height: 450px;
}
.swiper-container .swiper-slide .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about .content {
  flex: 1 1 41rem;
}
.about .content p {
  font-family: Gotham-Book;
  font-size: 14px;
  color: var(--black);
  padding: 1rem 0;
  font-weight: 600;
  line-height: 1.5;
}
.about .content p strong {
  font-family: Gotham-medium;
  font-size: 20px;
  color: var(--black);
}

/* ================= BRANCH-OFFICE ================= */
.branch_office .title span {
  color: var(--white);
  font-size: 4.5rem;
  text-transform: capitalize;
  font-family: Sanchez-reg;
  text-decoration: underline var(--peru);
}
.branch_office .title {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}
.branch_office .title img {
  width: 7%;
}
.branch_office .container-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
}
.box {
  flex: 0 1 35rem;
  padding: 1rem 2rem 1rem 1rem;
  border-radius: 10px;
  color: var(--white);
  border: 1px solid var(--peru);
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}
.box .text-card {
  display: grid;
}
.box .text-card h3 {
  font-size: 16px;
  width: 80px;
  font-family: Gotham-Book;
  font-weight: 200;
  background-color: var(--peru);
  color: var(--black);
  margin-bottom: 2rem;
  text-align: center;
}
.box .text-card span {
  font-family: Gotham-Book;
  font-size: 16px;
  margin-bottom: 5px;
}
.container-box .social-media {
  display: grid;
}
.container-box .social-media i {
  font-size: 3rem;
  margin: 5px;
}
.container-img {
  display: grid;
  row-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.box-title-img-1 .what__do_title h3 {
  font-family: Sanchez-reg;
  font-size: 4rem;
  font-weight: 400;
  color: var(--white);
  width: 60%;
  margin-left: 5rem;
  margin-bottom: 15rem;
}
.box-title-img-1 a {
  font-family: Sanchez-reg;
  font-size: 6rem;
  font-weight: 400;
  color: var(--peru);
  padding: 0 2rem;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 1rem;
  margin-left: 10rem;
  border: 1px solid var(--peru);
}
.box-title-img-2 a {
  font-family: Sanchez-reg;
  font-size: 6rem;
  font-weight: 400;
  color: var(--peru);
  padding: 0 2rem;
  border-radius: 10px;
  text-align: center;
  margin-top: 10rem;
  margin-left: 5rem;
  border: 1px solid var(--peru);
}
.container-img .what_do_img_1 {
  width: 180%;
  margin-left: 100%;
  justify-self: center;
}
.container-img .what_do_img_2 {
  width: 180%;
  margin-right: 80%;
  justify-self: center;
}
.container_line {
  height: 8rem;
  background-color: var(--peru);
}

/* ================= PROMOTIONS ================= */
.promotions {
  padding: 0;
  background: var(--black);
}
.promotions .slide {
  min-height: 100vh;
  background-size: cover !important;
  background-position: center !important;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ================= BLOGS ================= */
.blogs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.blogs__header {
  font-family: Sanchez-reg;
  margin: 50px 0;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blogs__header span {
  font-size: 5rem;
  color: var(--black);
  margin-bottom: 25px;
}
.blogs__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.blogs_box {
  width: 400px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  background-color: var(--white);
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}
.perfil-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 30px;
}
.perfil-img img {
  width: 100%;
  height: 100%;
  object-fit: center;
}
.perfil {
  display: flex;
  align-items: center;
}
.name-client {
  display: flex;
  flex-direction: column;
}
.name-client strong {
  font-family: Gotham-Book;
  color: var(--light-black);
  font-size: 1.3rem;
}
.star__points {
  color: var(--yellow);
}
.box__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.coment__client {
  font-family: Gotham-Book;
  font-size: 1.3rem;
  color: var(--light-black);
}
.reviews {
  width: 500px;
  margin: 20px;
  cursor: pointer;
}
.reviews img {
  width: 100%;
}

/* ================= CONTACT ================= */
.form {
  width: 100%;
  max-width: 820px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.form-input-container {
  width: 90%;
}
.contact-form {
  background-color: var(--black);
  position: relative;
  border-radius: 20px;
}
form {
  padding: 4rem 3rem 4rem 8rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
  display: flex;
}
.title-contact {
  font-family: Sanchez-reg;
  color: #fff;
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 1;
  margin-bottom: 6rem;
}
.input-container {
  position: relative;
  margin: 2rem 0;
  display: flex;
}
.input {
  width: 70%;
  height: 4rem;
  outline: none;
  border: 2px solid var(--white);
  background: var(--white);
  padding: 0.6rem 1.2rem;
  color: var(--black);
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
}
.input-container .text-input {
  display: flex;
  font-family: Gotham-Book;
  align-items: center;
  width: 15%;
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 100;
}
.textarea {
  width: 70%;
  height: 150px;
  outline: none;
  border: 2px solid var(--white);
  background: var(--white);
  padding: 0.6rem 1.2rem;
  color: var(--black);
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
  resize: none;
  overflow-y: auto;
}
.input-container .text-area {
  display: flex;
  font-family: Gotham-Book;
  align-items: initial;
  width: 15%;
  margin-top: 2rem;
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 100;
}
.form-btn-container {
  width: 20%;
  align-self: end;
}
.btn {
  width: 80%;
  padding: 0.6rem 1.3rem;
  background-color: var(--peru);
  border: 2px solid var(--peru);
  font-size: 2rem;
  color: var(--white);
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 1rem 0;
}
.btn:hover {
  background-color: transparent;
  color: #fff;
}
.btn span {
  font-size: 1.5rem;
}
.btn i {
  font-size: 1.5rem;
}
input[type="file"] {
  display: none;
}
.btn-file {
  display: block;
  width: 100%;
  padding: 0.6rem 1.3rem;
  background-color: var(--peru);
  border: 2px solid var(--peru);
  font-size: 2rem;
  color: var(--white);
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 1rem 0;
  font-family: Gotham-Book;
  margin-bottom: 15rem;
}

/* ================= FOOTER ================= */
footer {
  width: 100%;
  padding: 50px 0px;
  background-size: cover;
  background-color: var(--white);
}
.container__footer {
  display: flex;
  border-top: 0.5px solid rgba(0, 0, 0, 0.5);
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}
.box__footer {
  display: flex;
  flex-direction: column;
  padding: 40px;
  text-transform: capitalize;
  font-family: Gotham-Book;
}
.box__footer .logo {
  display: flex;
  justify-content: center;
}
.box__footer .logo img {
  width: 180px;
}
.box__footer .terms img {
  width: 200px;
}
.box__footer h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: var(--black);
  font-weight: 700;
}
.box__footer a {
  font-size: 1.3rem;
  display: flex;
  margin-top: 10px;
  cursor: pointer;
  color: var(--black);
  font-weight: 600;
}
.box__footer a:hover {
  color: var(--peru);
}
.box__footer a .fab {
  font-size: 20px;
  width: 3rem;
}
.box__copyright {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px;
}
.box__copyright p {
  font-family: Gotham-Book;
  font-size: 1.7rem;
  margin-top: 20px;
  color: var(--black);
}
.box__copyright hr {
  border: none;
  height: 1px;
  background-color: var(--light-black);
}

/* ================= SCROLL UP ================= */
.scrollup {
  height: 5rem;
  width: 5rem;
  display: inline-flex;
  position: fixed;
  bottom: -30%;
  right: 1rem;
  z-index: 2;
  background: none;
  border: none;
  font-size: 4rem;
  transform: translateY(-50%);
  color: var(--white);
  cursor: pointer;
  border-radius: 0.25rem;
}
.scrollup:hover {
  background-color: rgba(0, 0, 0, 0.9);
}
/* Show Scroll Up */
.show-scroll {
  bottom: 3rem;
}

/* ================= RESPONSIVE ================= */
@media (min-width: 1400px) {
  .header .navbar a {
    margin-left: 1rem;
  }
  .box__footer__container {
    display: inline-flex;
  }
  .form-btn-container .btn-file {
    width: 70%;
  }
  .box__footer {
    padding: 40px;
  }
  .box__footer h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  .box__footer a {
    font-size: 1.7rem;
  }
}
@media (max-width: 1399px) {
  .header .navbar a {
    margin-left: 1rem;
  }
  .form-btn-container .btn-file {
    width: 80%;
  }
  .box__footer__container {
    display: inline-flex;
  }
  .box__footer {
    padding: 40px;
  }
  .box__footer h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  .box__footer a {
    font-size: 1.7rem;
  }
}
@media (max-width: 1199px) {
  section {
    padding: 3rem 5%;
  }
  .header .navbar a {
    font-size: 1.5rem;
    margin-left: 1rem;
  }
  .branch_office .container-box {
    justify-content: center;
    gap: 2rem;
  }
  .box-title-img-1 .what__do_title h3 {
    width: auto;
    font-size: 3.5rem;
    margin-left: 1rem;
  }
  .box-title-img-1 h2 {
    width: 40%;
    font-size: 3.5rem;
    margin-left: 10rem;
  }
  .box-title-img-2 h2 {
    width: 60%;
    font-size: 3.5rem;
    margin-top: 5rem;
    margin-left: 5rem;
  }
  .container-img .what_do_img_1 {
    margin-left: 90%;
  }
  .container-img .what_do_img_2 {
    width: 160%;
    margin-right: 40%;
  }
  .promotions .slide {
    min-height: 80vh;
  }
  .name-client strong {
    font-size: 1.7rem;
  }
  .coment__client {
    font-size: 1.7rem;
  }
  .star__points {
    font-size: 1.5rem;
  }
  .input-container .text-input,
  .input-container .text-area {
    width: 20%;
  }
  .box__footer__container {
    display: inline-flex;
  }
  .box__footer {
    padding: 20px;
  }
  .box__footer h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  .box__footer a {
    font-size: 1.7rem;
  }
}
@media (max-width: 991px) {
  section {
    padding: 3rem 2rem;
  }
  html {
    font-size: 55%;
  }
  .home .slide .content h3 {
    font-size: 15vw;
  }
  .form-btn-container .btn-file {
    width: 80%;
  }
}
@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  form {
    display: block;
  }
  .fa-times {
    transform: rotate(180deg);
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background-color: var(--white);
    border-top: var(--border);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    display: block;
    margin: 2rem;
  }
  .carousel-button.next,
  .carousel-button.prev {
    top: initial;
    bottom: 1rem;
  }
  .carousel-button.prev {
    left: 1rem;
  }
  .carousel-button.next {
    right: 1rem;
  }
  .menu .slide .box-container .box {
    flex-flow: column;
    text-align: center;
  }
  .branch_office .container-box {
    justify-content: center;
    gap: 2rem;
  }
  .box-title-img-1 .what__do_title h3 {
    width: auto;
    font-size: 3.5rem;
    margin-left: 1rem;
  }
  .box-title-img-1 h2 {
    width: 40%;
    font-size: 3.5rem;
    margin-left: 10rem;
  }
  .box-title-img-2 h2 {
    width: 70%;
    font-size: 3.5rem;
    margin-top: 5rem;
    margin-left: 3rem;
  }
  .container-img .what_do_img_1 {
    margin-left: 90%;
  }
  .container-img .what_do_img_2 {
    width: 160%;
    margin-right: 40%;
  }
  .promotions .slide {
    min-height: 60vh;
  }
  .name-client strong {
    font-size: 2rem;
  }
  .coment__client {
    font-size: 2rem;
  }
  .perfil .perfil-img {
    margin-right: 15px;
  }
  .star__points {
    font-size: 1.5rem;
  }
  .input-container .text-input,
  .input-container .text-area {
    width: 25%;
  }
  .form-btn-container {
    width: auto;
  }
  .btn {
    width: auto;
  }
  .form-btn-container .btn-file {
    display: initial;
    width: 80%;
    margin-right: 2rem;
  }
  .box__footer {
    padding: 20px;
  }
  .box__footer h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  .box__footer a {
    font-size: 1.7rem;
  }
  .swiper-container {
    width: 450px;
    height: 450px;
    position: inherit;
    left: 40%;
    top: 0;
    margin-left: -150px;
    margin-top: -20px;
  }
  .swiper-container .swiper-slide .imgBx {
    position: absolute;
    width: 450px;
    height: 450px;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  form {
    display: block;
  }
  .home .slide .content h3 {
    font-size: 7rem;
  }
  .branch_office .container-box {
    justify-content: center;
    gap: 2rem;
  }
  .branch_office .title img {
    width: 12%;
  }
  .box-title-img-1 .what__do_title h3 {
    width: auto;
    font-size: 3.5rem;
    margin-left: 1rem;
  }
  .box-title-img-1 a {
    width: auto;
    font-size: 3.5rem;
  }
  .box-title-img-2 a {
    width: auto;
    font-size: 3.5rem;
    margin-top: 5rem;
    margin-left: 0;
  }
  .container-img .what_do_img_1 {
    margin-left: 90%;
  }
  .container-img .what_do_img_2 {
    width: 160%;
    margin-right: 40%;
  }
  .promotions .slide {
    min-height: 35vh;
  }
  .name-client strong {
    font-size: 2rem;
  }
  .perfil .perfil-img {
    margin-right: 15px;
  }
  .coment__client {
    font-size: 2.5rem;
  }
  .star__points {
    font-size: 1.5rem;
  }
  .title-contact {
    font-size: 3rem;
  }
  .input-container .text-input {
    width: 35%;
  }
  .input-container .text-area {
    width: 35%;
  }
  .form-btn-container {
    width: auto;
  }
  .btn {
    width: auto;
  }
  .form-btn-container .btn-file {
    display: initial;
    width: 80%;
    margin-right: 2rem;
  }
  .container__footer {
    display: block;
  }
  .box__footer__container {
    display: block;
  }
  .box__footer {
    padding: 20px;
  }
  .box__footer .terms {
    display: flex;
    justify-content: center;
  }
  .box__footer h2 {
    font-size: 3.5rem;
    margin-bottom: 20px;
  }
  .box__footer a {
    font-size: 2.2rem;
  }
  .swiper-container {
    width: 350px;
    height: 350px;
    position: inherit;
    left: 42%;
    top: 0;
    margin-left: -150px;
    margin-top: -10px;
  }
  .swiper-container .swiper-slide .imgBx {
    position: absolute;
    width: 350px;
    height: 350px;
  }
}
